<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz Show</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%
var temas  = {
    "otro" : "Cultura general",
    "humanidades" : "Humanidades",
    "ocio" : "Ocio",
    "ciencia" : "Ciencia",
    "tecnologia" : "Tecnología"
};
%>

<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <%
    if (quiz.tema != 'otro')
    {
        %>
        Pregunta de <span class='p_tema'><%= temas[quiz.tema]%></span>:
        <%
    }
    else
    {
        %>
        Pregunta:
        <%
    }
    %>
    <br/><%= quiz.pregunta %>
    <input type="text" name="respuesta" value="Respuesta"/>
    <input type="submit" value="Enviar">
</form>	
  </body>
</html>